@import 'core/settings';

body {
 text-align: center;
  background-color: lightgrey;
}

.feedback {
  border: 2px solid blue;
  color: blue;
	font-size: 25px;
}

.counter {
	font-size: 40px;
	color: red;
}

.hidden {
	display:none;
}

.container {
display: flex;
flex-direction: column;
justify-content: center;
width: 200px;
margin: 0 auto;
}
